@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
.root{
    -fx-font-family: 'Russo One', sans-serif;;
    -fx-background-color: #F5F5F5;
}
.Title {
    -fx-text-fill: #17263B;
    -fx-font-family: 'Russo One', sans-serif;
    -fx-font-size: 36px;
}
.text-field {
    -fx-font-family: 'Russo One', sans-serif;
    -fx-font-size: 16px;
}
.Top-Bar{
    -fx-background-color: #333333;
}
.Nav-bar-Label {
    -fx-text-fill: #FFFFFF;
    -fx-font-family: 'Russo One', sans-serif;
    -fx-font-size: 16px;
}
.Top-Bar-Button{
    -fx-background-color: transparent;
    -fx-text-fill: #FFFFFF;
    -fx-font-family: 'Russo One', sans-serif;
    -fx-font-size: 20px;
}
.Top-Bar-Button-LogOut {
    -fx-background-color: transparent;
    -fx-text-fill: #009FE3;
    -fx-font-family: 'Russo One', sans-serif;
    -fx-font-size: 16px;
}
.Top-Bar-Button-LogOut:hover{
    -fx-text-fill: #E84911;
    -fx-cursor: hand;
}
.Top-Bar-Button:hover{
    -fx-text-fill: #E84911;
    -fx-cursor: hand;
}
.Login-pane{
    -fx-background-color: #17263B;
}
.Login-Image {
    -fx-background-image: url(/GUI/Images/WUAVlogo.png);
}
.Login-label {
    -fx-text-fill: #FFFFFF;
    -fx-font-family: 'Russo One', sans-serif;
    -fx-font-size: 28px;
}
.Login-Button{
    -fx-background-color: #333333;
    -fx-text-fill: #FFFFFF;
    -fx-font-family: 'Russo One', sans-serif;
    -fx-font-size: 20px;
}
.Login-Button:hover{
    -fx-background-color: #E84911;
    -fx-cursor: hand;
}
.Nav-bar {
    -fx-background-color: #17263B;
}
.Nav-bar-Image {
    -fx-background-image: url(/GUI/Images/WuavLogoWhite.png);
}
.Nav-bar-Button {
    -fx-background-color: transparent;
    -fx-text-fill: #FFFFFF;
    -fx-font-family: 'Russo One', sans-serif;
    -fx-font-size: 20px;
}
.Nav-bar-Button:hover {
    -fx-border-width: 0px 0px 5px 0px;
    -fx-border-color: #E84911;
    -fx-cursor: hand;
}